@charset "utf-8";
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font: 14px/18px Lato, sans-serif;
}
code,
kbd,
pre,
samp,
tt,
var {
  font: 14px/18px Consolas, "Courier New", monospace;
}
body,
optgroup {
  color: #000;
  background: #fff;
}
body,
code,
dl,
dd,
form,
pre {
  margin: 0;
}
a:link {
  color: #009;
}
a:link,
a:visited,
ins {
  text-decoration: none;
}
a:visited {
  color: #505;
}
a:hover {
  text-decoration: underline;
}
a:link img,
a:visited img,
object,
fieldset,
abbr,
acronym {
  border: none;
}
sub,
sup {
  position: relative;
  display: inline-block;
  font-size: 11px;
  line-height: 11px;
}
sub {
  top: 5px;
  vertical-align: middle;
}
sup {
  top: -2px;
  margin-top: -11px;
}
abbr,
acronym {
  cursor: help;
  border-bottom: 1px dotted #999;
}
address,
cite,
dfn {
  font-style: normal;
}
code,
pre {
  white-space: pre-wrap;
}
img {
  vertical-align: bottom;
}
td,
th,
textarea {
  vertical-align: top;
}
input,
select,
button {
  overflow: visible;
  vertical-align: middle;
}
legend {
  color: #000;
  margin: 0 0 -2px;
  padding: 0;
}
li {
  display: block;
  list-style: none;
}
optgroup option {
  padding-left: 22px;
}
table {
  border-collapse: collapse;
}
caption,
th {
  text-align: left;
}
td,
th {
  padding: 0;
}
address,
blockquote,
h1,
h2,
h3,
h4,
h5,
h6,
fieldset,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}
th,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
q {
  quotes: "\00ab" "\00bb" "\201e" "\201c";
}
q:after {
  content: "\00bb";
}
q:before {
  content: "\00ab";
}
q > q:after {
  content: "\201c";
}
q > q:before {
  content: "\201e";
}
html,
body {
  height: 100%;
}
.header {
  text-align: center;
  font-size: 20px;
  padding: 20px;
  background-color: #DCEDC8;
  -webkit-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.7);
}
.container {
  top: 0;
  background: #CCC;
  width: 100%;
  height: 100vh;
  min-height: 617px;
  background: -o-linear-gradient(0deg, #689F38, #DCEDC8);
  background: -ms-linear-gradient(0deg, #689F38, #DCEDC8);
  background: -moz-linear-gradient(0deg, #689F38, #DCEDC8);
  background: -webkit-linear-gradient(0deg, #689F38, #DCEDC8);
  background: linear-gradient(0deg, #689F38, #DCEDC8);
  position: relative;
  overflow: hidden;
  perspective: 800px;
  perspective-origin: top;
}
.container > *,
.container .gate {
  margin-left: auto;
  margin-right: auto;
}
.container:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  content: '';
  z-index: 0;
  pointer-events: none;
  -ms-transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  transition: 0.6s;
}
.build_plan {
  width: 13%;
  left: 0;
  right: 0;
  background: #FFF;
  position: absolute;
  z-index: 2;
  text-align: center;
  padding: 12px 7px;
  top: 50%;
  font-size: 20px;
  color: #757575;
  -webkit-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.7);
  cursor: pointer;
}
.ground {
  position: absolute;
  width: 100%;
  height: 30%;
  left: 0;
  right: 0;
  bottom: -15%;
  background-color: #5c8c31;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.top-wall,
.towers-container {
  width: 45%;
}
.towers-container {
  height: 48%;
}
.towers-container:before,
.towers-container:after {
  content: "";
  display: table;
  clear: both;
}
.wall {
  width: 40.5%;
  height: 24%;
}
.top-wall {
  height: 5%;
}
.foundation {
  width: 46%;
  height: 23%;
  -o-transform: rotateX(26deg);
  -ms-transform: rotateX(26deg);
  -moz-transform: rotateX(26deg);
  -webkit-transform: rotateX(26deg);
  transform: rotateX(26deg);
  perspective: 300px;
  background-color: rgba(194, 182, 147, 0.8);
  transform-origin: 0% 0%;
}
.foundation,
.wall,
.top-wall {
  background-color: #c2b693;
  background-color: rgba(194, 182, 147, 0.6);
  -webkit-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.7);
}
.foundation {
  background-color: rgba(194, 182, 147, 0.8);
}
.wall {
  position: relative;
}
.gate {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  height: 71%;
  width: 29%;
  -webkit-border-radius: 50% 50% 0 0;
  -moz-border-radius: 50% 50% 0 0;
  -o-border-radius: 50% 50% 0 0;
  border-radius: 50% 50% 0 0;
  background-color: darkgoldenrod;
  background-color: rgba(184, 134, 11, 0.6);
  -webkit-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.7);
}
.bridge {
  height: 68%;
  width: 30%;
  background: #757575;
  margin: 0px auto;
  -o-transform: rotateX(53deg);
  -ms-transform: rotateX(53deg);
  -moz-transform: rotateX(53deg);
  -webkit-transform: rotateX(53deg);
  transform: rotateX(53deg);
  transform-origin: top;
  -webkit-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.7);
}
.plan {
  left: 0;
  right: 0;
  width: 66%;
  z-index: 1;
  display: flex;
  margin: 0%  auto 0%;
  bottom: 0px;
  padding: 100vh 0px 10%;
}
.block_for_scroll {
  width: 100%;
}
.tower {
  width: 25%;
  float: left;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.tower > * {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.tower-basis,
.tower-top {
  background-color: #c2b693;
  background-color: rgba(194, 182, 147, 0.6);
  -webkit-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.7);
}
.tower-basis {
  height: 31%;
}
.tower-roof {
  height: 57%;
  position: relative;
  overflow: hidden;
}
.tower-roof:after,
.tower-roof:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0px;
}
.tower-roof:after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-bottom: 70px solid rgba(117, 117, 117, 0.6);
  left: 50%;
  margin-left: -35px;
}
.tower-roof:before {
  width: 1px;
  background-color: rgba(117, 117, 117, 0.1);
  height: 54%;
  margin-left: auto;
  margin-right: auto;
}
.tower-top {
  position: relative;
  height: 12%;
  width: 88%;
}
.tower-top:after {
  left: 0;
  right: 0;
  content: '';
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 15%;
  height: 70%;
  width: 25%;
  background: #757575;
  -webkit-border-radius: 50% 50% 0% 0%;
  -moz-border-radius: 50% 50% 0% 0%;
  -o-border-radius: 50% 50% 0% 0%;
  border-radius: 50% 50% 0% 0%;
  -webkit-box-shadow: inset -10px -7px 20px 0px rgba(220, 237, 200, 0.7);
  -moz-box-shadow: inset -10px -7px 20px 0px rgba(220, 237, 200, 0.7);
  box-shadow: inset -10px -7px 20px 0px rgba(220, 237, 200, 0.7);
}
.tower.central > * {
  width: 40%;
}
.tower.central .tower-basis {
  height: 42.75%;
}
.tower.central .tower-roof {
  height: 43%;
}
.tower.central .tower-roof:after {
  display: block;
  width: 0;
  height: 0;
  border-left: 47px solid transparent;
  border-right: 47px solid transparent;
  border-bottom: 60px solid rgba(117, 117, 117, 0.6);
  margin-left: -47px;
}
.tower.central .tower-roof:before {
  height: 64%;
}
.tower.right .tower-roof {
  height: 51%;
}
.tower.right .tower-basis {
  height: 37%;
}
.tower.central .tower-top {
  height: 14.25%;
  width: 57%;
}
.tower.central {
  width: 50%;
}
.tower .banner {
  height: 5px;
  position: absolute;
  background: rgba(3, 169, 244, 0.5);
  left: 50%;
  width: 30px;
  bottom: 73%;
  -webkit-border-radius: 0% 50% 50% 0%;
  -moz-border-radius: 0% 50% 50% 0%;
  -o-border-radius: 0% 50% 50% 0%;
  border-radius: 0% 50% 50% 0%;
}
.tower.central .banner {
  bottom: 82%;
}
/* Plan */
.plan > div {
  float: left;
  width: 33.33333333%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  flex: 1 0;
}
.blank {
  position: relative;
  background: rgba(255, 255, 255, 0.8);
  padding: 15px 10px 47px;
  height: 100%;
  -webkit-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.7);
}
.blank h3 {
  font-size: 20px;
  line-height: 26px;
  font-weight: normal;
  text-align: center;
}
.blank .price {
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  padding: 10px 0px;
  color: #03A9F4;
}
.blank ul {
  padding-bottom: 15px;
}
.blank ul li {
  margin-bottom: 5px;
}
.blank ul li:before {
  content: "✓";
  display: inline-block;
  font-size: 1.25em;
  line-height: 1;
  padding-right: .5em;
  left: 0;
  top: 0;
}
.blank ul li.item_pro {
  color: #03A9F4;
}
.blank ul li.item_pro:before {
  content: "+";
  font-weight: 700;
}
.blank .buy {
  position: absolute;
  display: block;
  margin-top: 20px;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 15px;
  width: 100%;
}
.blank .button_buy {
  padding: 5px 10px 7px;
  display: inline-block;
  -webkit-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.7);
  background-color: #8BC34A;
  color: #FFF;
  cursor: pointer;
  -ms-transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
  line-height: 20px;
  width: 33.33333333%;
}
.blank .button_buy:hover {
  background-color: #689F38;
  box-shadow: none;
}
.build_plan {
  -ms-transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.build_plan:hover {
  background-color: #689F38;
  box-shadow: none;
  color: #FFF;
}
.wall {
  -ms-transition: 0.5s 0s;
  -webkit-transition: 0.5s 0s;
  -moz-transition: 0.5s 0s;
  transition: 0.5s 0s;
}
.top-wall {
  -ms-transition: 0.5s 0.5s;
  -webkit-transition: 0.5s 0.5s;
  -moz-transition: 0.5s 0.5s;
  transition: 0.5s 0.5s;
}
.towers-container {
  -ms-transition: 0.5s 1.2s;
  -webkit-transition: 0.5s 1.2s;
  -moz-transition: 0.5s 1.2s;
  transition: 0.5s 1.2s;
}
.hide .wall {
  -o-transform: translateY(70.83333333%);
  -ms-transform: translateY(70.83333333%);
  -moz-transform: translateY(70.83333333%);
  -webkit-transform: translateY(70.83333333%);
  transform: translateY(70.83333333%);
}
.hide .top-wall {
  -o-transform: translateY(440%);
  -ms-transform: translateY(440%);
  -moz-transform: translateY(440%);
  -webkit-transform: translateY(440%);
  transform: translateY(440%);
}
.hide .towers-container {
  -o-transform: translateY(95.83333333%);
  -ms-transform: translateY(95.83333333%);
  -moz-transform: translateY(95.83333333%);
  -webkit-transform: translateY(95.83333333%);
  transform: translateY(95.83333333%);
}
.show {
  position: fixed;
}
.show:after {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}
.show .build_plan {
  -o-transform: translateY(-200%);
  -ms-transform: translateY(-200%);
  -moz-transform: translateY(-200%);
  -webkit-transform: translateY(-200%);
  transform: translateY(-200%);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  pointer-events: none;
}
.show .wall,
.show .top-wall,
.show .towers-container {
  -o-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}
.no_scroll {
  height: 100%;
  overflow: hidden;
}
